<!-- Display only IF success contains an item in its array -->
<% if (success && success.length > 0) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<!-- Display only IF success contains an item in its array -->
<% if (error && error.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
