<%-layout('layouts/boilerplate') -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img src="/images/card-top.jpg" alt="..." class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Login</h3>
          <form class="validated-form" action="/login" method="POST" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username:</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                autofocus
                required
              />
              <div class="valid-feedback">Looks Good!</div>
              <div class="invalid-feedback">Enter a valid username.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks Good!</div>
              <div class="invalid-feedback">Enter a valid Password.</div>
            </div>
            <button class="btn btn-success w-100" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
